<!DOCTYPE html>


<html>
	<body>

		<h2>TAREA 03 - SWAPI</h2>
		<table border = "1">
			<tr>
				<th>Titulo</th>
				<th>Episodio</th>
				<th>Opening Crawl</th>
				<th>Personajes</th>
				<th>Planetas</th>
				<th>Naves</th>
			</tr>
			<tr>
				<td><%=	link_to(@film_response["title"], {:controller => 'index', :action => 'get_film', :_id => @film_response["id"].to_s}) %></td>
				<td><%= @film_response["episodeID"] %></td>
				<td><%= @film_response["openingCrawl"] %></td>

				<td>
					<ul>
						<% @film_response["characterConnection"]["characters"].each do |item| %>
							<li><%= link_to(item["name"], {:action => 'get_character', :_id => item["id"].to_s}) %></li>
						<% end %>
					</ul>
				</td>

				<td>
					<ul>
						<% @film_response["planetConnection"]["planets"].each do |item| %>
							<li><%= link_to(item["name"], {:action => 'get_planet', :_id => item["id"].to_s}) %></li>
						<% end %>
					</ul>
				</td>
				<td>
					<ul>
						<% @film_response["starshipConnection"]["starships"].each do |item| %>
							<li><%= link_to(item["name"], {:action => 'get_starship', :_id => item["id"].to_s}) %></li>
						<% end %>
					</ul>
				</td>
			</tr>
		</table>
		<br>
		<div class='col-md-4 text-center'>
			<%= button_to "Volver al inicio", root_url, :method => :get%>
		</div>

	</body>
</html>